@model List<Examen_Entity_Framework.Models.ViewModels.Modelo_Destinos>
@{
    ViewBag.Title = "Vista_Destinos";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
            @foreach (var destinos in Model)
            {
                <tr>
                    <td>@destinos.Codigo</td>
                    <td>@destinos.Foto</td>
                    <td>@destinos.Nombre</td>
                    <td>@destinos.Descripcion</td>
                    <td>@destinos.Precio</td>
                </tr>
            }
        </table>
    </div>
</div>


